.product-card__desc p{
  color: #008080;
}
.css-nopaments{
  color:#b00;
  font-size: 20px;
  padding: 20px;
}

.instock__text{
  font-size: 18px;
  color: #b00;
}

.filter__option {
  min-width: 135px;
  max-height: 220px;
  left: auto;
  right: 0;
  overflow: scroll;
}

.product-card__count-item{
  color: red;
  font-size: 18px;
}
