<app-header [showMobileMenu]="false" [showSlider]="showSlider"></app-header>
<main>
    <div class="st-width-full">
        <div class="content">
            <aside class="content__right">
                <app-hashve-banner></app-hashve-banner>
            </aside>



            <div class="content__center">

                <div class="breadcrumb d-md-none">
                    <div class="breadcrumb__item"><a [routerLink]="'/'">{{ "breadcrumbs.homePage" | translate }}</a></div>
                    <span class="breadcrumb__item" *ngIf="tabStatus[0]">{{
            low.header[curLang]
          }}</span>
                    <span class="breadcrumb__item" *ngIf="tabStatus[1]">{{
            faq[0].slogan[curLang]
          }}</span>
                    <span class="breadcrumb__item" *ngIf="tabStatus[2]">{{
            terms.slogan[curLang]
          }}</span>
                    <span class="breadcrumb__item" *ngIf="tabStatus[3]">{{ "addNewStore.contact" | translate }}</span>
                    <span class="breadcrumb__item" *ngIf="tabStatus[4]">{{ "addNewStore.addStore" | translate }}</span
          >
        </div>

        <section class="support">
          <div class="support__content">
            <div class="tabs">
              <div class="tabs__top">

                <a
                  [routerLink]="'/category'"
                  class="top-menu__title d-none d-md-block"
                  >{{ "header.category" | translate }}

                <span class="top-menu__title-dots"></span>
                    </a>

                    <div class="tabs__list-wrap js-tabs-list swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-rtl">
                        <swiper [config]="config2" [classes]="'js-top-menu'">
                            <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px);">
                                <ul class="tabs__list swiper-slide swiper-slide-active">
                                    <li class="tabs__item" [class.active]="tabStatus[0]" data-item="tab1">
                                        <a [routerLink]="['/אודות_השווה']" (click)="onTabClicked(0)">{{ low.header[curLang] }}</a>
                                    </li>
                                    <li class="tabs__item" [class.active]="tabStatus[1]" data-item="tab2">
                                        <a [routerLink]="['/תמיכה']" (click)="onTabClicked(1)">{{ faq[0].slogan[curLang] }}</a>
                                    </li>
                                    <li class="tabs__item" [class.active]="tabStatus[2]" data-item="tab3">
                                        <a [routerLink]="['/תקנון_האתר']" (click)="onTabClicked(2)">{{ terms.slogan[curLang] }}</a>
                                    </li>
                                    <li class="tabs__item" [class.active]="tabStatus[3]" data-item="tab4">
                                        <a [routerLink]="['/צור_קשר']" (click)="onTabClicked(3)">{{ "addNewStore.contact" | translate }}</a>
                                    </li>
                                    <!--<li class="tabs__item" [class.active]="tabStatus[4]" data-item="tab5">
                        <a [routerLink]="['/הוספת_חנות_חדשה']" (click)="onTabClicked(4)">הוספת בית עסק</a>
                      </li>-->
                                </ul>
                            </div>
                        </swiper>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>

                </div>

                <div class="tabs__content">
                    <div id="tab1" [class.active]="tabStatus[0]" class="tabs__content-item" [innerHTML]="low.text[curLang]"></div>

                    <div id="tab2" [class.active]="tabStatus[1]" class="tabs__content-item tabs__content-item--clear">
                        <section [class.opened]="faqTabsStatus[i]" class="unwrap-block" *ngFor="let article of faq; let i = index" (click)="onWrapClicked(i)">
                            <div class="unwrap-block__head">
                                <div class="h2">{{ article.header[curLang] }}</div>
                                <div class="unwrap-block__arr"></div>
                            </div>
                            <div class="unwrap-block__content">
                                <div class="unwrap-block__text" [innerHTML]="article.text[curLang]"></div>
                            </div>
                        </section>
                        <!-- end unwrap-block -->
                    </div>

                    <div id="tab3" [class.active]="tabStatus[2]" class="tabs__content-item" [innerHTML]="terms.text[curLang]"></div>
                    <div id="tab4" [class.active]="tabStatus[3]" class="tabs__content-item">
                        <h1>{{ "supportPage.contactWithHashve" | translate }}</h1>
                        <div class="support-form">
                            <form method="get" class="form-site" [formGroup]="form" (ngSubmit)="submit()">
                                <div class="form-site__field">
                                    <label for="contact-name" class="form-site__label">{{ "payment.form.fullName" | translate }}</label>
                                    <input type="text" id="contact-name" formControlName="name" />
                                </div>

                                <div class="form-site__field">
                                    <label for="contact-mail" class="form-site__label">{{ "payment.form.mail" | translate }}</label>
                                    <input type="text" id="contact-mail" formControlName="email" />
                                </div>

                                <div class="form-site__field">
                                    <label for="contact-phone" class="form-site__label">{{ "payment.form.phone" | translate }}</label>
                                    <input type="text" id="contact-phone" formControlName="phone" />
                                </div>

                                <div class="form-site__field">
                                    <label for="contact-theme" class="form-site__label">{{ "payment.form.subject" | translate }}</label>
                                    <input type="text" id="contact-theme" formControlName="topic" />
                                </div>

                                <div class="form-site__field">
                                    <label for="contact-head" class="form-site__label">{{ "payment.form.title" | translate }}</label>
                                    <input type="text" id="contact-head" formControlName="title" />
                                </div>

                                <div class="form-site__field">
                                    <label for="contact-msg" class="form-site__label">{{ "payment.form.messageDetails" | translate }}</label>
                                    <textarea id="contact-msg" formControlName="text"></textarea>
                                </div>

                                <div class="form-site__btn">
                                    <button type="submit" class="btn" [disabled]="form.invalid">{{ "payment.form.send" | translate }}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="support__news d-md-none">
            <div class="article-list article-list--other">
                <div class="article-detail-other__title">{{ "articledetail.other-head" | translate }}</div>
                <article class="article-list__item" *ngFor="let item of last" app-article-item [article]="item"></article>
            </div>
        </div>
        </section>
    </div>
    <!-- end content__center -->

    <aside class="content__left">
        <div class="header-auth">
            <div class="header-bottom__notice">
                <div class="notice-grey notice-grey--long">
                    <div class="notice-grey__title">רשמו את בית העסק שלכם</div>
                    <div class="notice-grey__label">ותרווחו לקוחות חדשים</div>
                    <a href="#" class="btn btn--white">הירשמו לשירות</a>
                    <a href="#" class="notice-grey__close">X</a>
                </div>
            </div>
        </div>
    </aside>
    </div>
    </div>
    <!-- end st-width-full -->
</main>

<app-footer></app-footer>