/*----------- alert-info -------------*/
.alert-info{
	display: flex;
	background: #fff;
	padding: 50px 45px;

	&__img{
		margin-left: 42px;
	}

	&__img img{
		width: 40px;
		max-width: none;
	}

	&__head{
		@include font(normal, 600, 30px, 30px, #000);
		margin-bottom: 5px;
	}

	&__text{
		@include font(normal, 600, 15px, 15px, #000);
	}
}

@media (max-width: 420px) {
	.alert-info{
		padding: 30px;

		&__img{
			margin-left: 20px;
		}
	}
}