/*----------- basket -------------*/
.basket{
	.best-price{
		margin-right: 0;
		margin-top: 0;

		&__cur-price{
			width: 100%;
			white-space: nowrap;
		}

		&__old-price{
			margin-left: 10px;
		}
	}

	.tag{
		min-width: 160px;
	}

	.search-city{
		&__warning{
			border-bottom: 0;
			padding-bottom: 10px;
		}
	
		&__top{
			display: flex;
			justify-content: space-between;
			padding-top: 10px;
		}

		&__text{
			width: calc(100% - 206px);
		}

		&__img{height: auto;}
		&__img-wrap{height: 200px; position: relative;}
		&__img-wrap img{max-height: 100%;}
	}

	.set{
		display: flex;
		align-items: flex-start;
		padding: 20px 0;

		&__list-wrap{
			flex-wrap: nowrap;
		}

		&__list{
			width: calc(100% - 206px);
		}

		&__item img{
			max-height: 75px;
		}

		&__item{
			margin-bottom: 10px;
		}
	
		&__main img{
			max-height: 200px;
		}

		&__main::after {
			display: none;
		}
	
		&__text{
			margin-bottom: 20px;
		}

		&__list{
			width: 100%;
		}

		&__item:first-child::before{
			content: "+";
			font-style: normal;
			font-weight: bold;
			font-size: 25px;
			line-height: 25px;
			color:#4dc314;
			position: absolute;
			right: -37px;
			@include top-center;
		}
	}
}

@media (max-width: 1279px) {
	.basket{
		.best-price__label{
			flex-wrap: wrap;
		}
	}
}

@media (max-width: 991px) {
	.basket{
		.best-price{
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			padding-left: 0;
		}

		.best-price__content{
			display: block;
		}

		.best-price .btn{
			height: 45px;
			font-size: 23px;
			line-height: 43px;
			padding: 0 40px;
			margin: 5px 0;
		}

		.search-city{
			margin-top: 0;
			
			&__top{
				justify-content: flex-start;
				flex-wrap: wrap;
			}

			&__desc{
				display: block;
				padding: 0 10px;
			}

			&__content{
				width: 100%;
			}

			&__tag-wrap{
				display: flex;
				align-items: center;
			}

			&__name-wrap{
				margin-left: 10px;
			}

			&__img{width: auto;}
		}

		.search-city-param__explain{
			margin-bottom: 15px;
		}

		.sticker-wrap{
			margin: 0;
		}

		.set{
			padding-top: 10px;

			&__content{
				width: 100%;
			}
		
			&__main img{
				max-height: 110px;
			}
	
			&__list{
				width: calc(100% - 200px);
			}
		}

		.search-city .sticker{
			display: flex;
			align-items: center;
			justify-content: center;
			width: 32px;
			height: 32px;
			padding-top: 0;
			position: static;
		}

		.sticker__text{
			font-size: 10px;
			line-height: 11px;
		}

		.best-price-wrap{
			display: flex;
			align-items: center;
		}

		.best-price .tag{
			margin-left: 30px;
		}

		.tag{
			width: auto;
		}
	}
}

@media (max-width: 767px) {
	.basket{
		.best-price{
			&__label{
				margin-left: 0;
			}
		}

		.best-price-wrap{
			white-space: nowrap;
		}

		.search-city{
			&__name-wrap{
				margin-left: 20px;
				argin-top: -1px;
			}
		}

		.set{		
			&__main img{
				max-height: 110px;
				margin-top: -10px;
				margin-left: 5px;
			}

			&__item img{
				max-height: 45px;
			}
	
			&__list{
				width: calc(100% - 85px);
			}

			&__main .set__label,
			&__item:first-child::before{
				display: none;
			}

			&__label{
				font-size: 17px;
			}
		}

		.tag{
			min-width: 120px;
		}
	}
}

@media (max-width: 420px) {
	.basket{
		.best-price .btn{
			height: 32px;
			font-size: 15;
			line-height: 30px;
			padding: 0 22px;
		}

		.best-price__content{
			width: calc(100% - 120px);
		}

		.tag{
			margin-left: 20px;
		}
	}
}