/*----------- notice-red -------------*/
.notice-orange{
	display: block;
	width: 100%;
	background: #ff791f;
	font-family: $font-assistant;
	padding: 15px 35px 17px;
	margin-bottom: 10px;
	color: #fff;
	position: relative;

	&__title{
		@include font(normal, bold, 20px, 24px, #fff);
		letter-spacing: -0.2px;
	}

	&__label{
		@include font(normal, 600, 18px, 18px, rgba(255,255,255,0.8));
	}

	&__close{
		font-family: $font-arial;
		@include font(normal, normal, 18px, 20px, #fff);
		text-decoration: none;
		position: absolute;
		top: 3px;
		left: 5px;
		cursor: pointer;
	}

	&__close:hover{
		color: $color-text;
	}

	.btn{
		margin-top: 8px;
		min-width: 148px;
	}
}