.good-day-slider__old-price {
    color: red;
}

.delivery__text {
    font-size: 12px;
}

.good-day-slider__item-name div {
    font-size: 18px;
    font-weight: bold;
}

.good-day-slider__item-name {
    margin-bottom: 5px;
}

.delivery__text {
    font-size: 12px;
}

.catalog-list__num {
    margin-left: 15px;
}

.catalog-list__count-container {
    display: flex;
    margin-bottom: 5px;
}