input{
  &.ng-invalid.ng-touched{
    border-bottom: 1px solid rgb(255, 0, 0);
  }
}
.btn{
  width: 40%;
		height: 65px;
margin-left: 20px;
		background-position: 125px center;
    background-size: 30px;
}

.btn1{
  margin-right: 20px;
}

.move_left{
margin-right:180px;
}

@media(max-width: 1530px){
  .move_left{
 margin-right: 0px;
 position: relative;
 top:-40px;
  }
}

@media(max-width: 991px){
  .move_left{
 margin-right: 0px;
 position: relative;
 top:5px;
  }

}
