//Path
$path-img: "../img";
$path-icon: "../img/icons";
$path-fonts: "../fonts";

//Font
$font-assistant: 'Assistant', Arial, sans-serif;
$font-arial: Arial, sans-serif;

// Site
$color-text: #282828;
$color-grey-main: #717171;
$color-grey: #e8f1f9;
$color-orange: #ff791f;
$color-dark-orange: #f25500;
$color-green-light: #78f23d;
$color-green: #58b32d;
$color-green-dark: #4fa029;
$color-red: #dc2b03;
$color-cherry: #dc0334;
$color-purple: #9d1ea5;
$color-blue: #00a5f2;
$color-yellow: #ffe826;
