<!-- <div style="position: relative">
  <lib-ngx-image-zoom [zoomMode]="'toggle'"
                      [thumbImage]="url"
                      [fullImage]="url"
  ></lib-ngx-image-zoom>
  <div (click)="dialogRef.close()" style="position: absolute; top: 20px; right: 20px; color: wheat; font-size: 18px; cursor: pointer;"> X </div>
</div> -->

<h1 [innerHTML]="'payment.overTime' | translate: { 'phone': data.store.tel }">  </h1>

<button class="btn" (click)="dialogRef.close()" [routerLink]="'חנויות_פרחים_' + data.city | spaceToUnderscore">
  {{ 'payment.storeListButton' | translate }}
</button>

