<div class="notice-green">
    <div class="notice-green__list">
        <div class="notice-green__item">{{ "mainSlider.slide2.header1" | translate }}</div>
        <div class="notice-green__item">{{ "mainSlider.slide2.header2" | translate }}</div>
        <div class="notice-green__item">{{ "mainSlider.slide2.header3" | translate }}</div>
    </div>

    <div class="notice-green__text">{{ "mainSlider.slide2.text" | translate }}</div>

    <a [routerLink]="'/אודות_השווה'" class="btn btn--border">{{ "mainSlider.slide2.button" | translate }}</a>

    <!--<a href="#" class="notice-green__close">X</a>-->
</div>