<!-- <div class="filter__item">

    <div class="filter__head">
        <span class="filter__title">
            {{ "citySearch.filter.filterBy" | translate }}
        </span>
        {{sortLable[sorting][curLang]}}
    </div>
    <div class="filter__option">
        <div class="filter__param" [ngClass]="{active: sorting === 'count'}" (click)="sortBy('count')">
            {{sortLable['count'][curLang]}}</div>
        <div class="filter__param" (click)="sortBy('price')">{{sortLable['price'][curLang]}}</div>
        <div class="filter__param" [ngClass]="{active: sorting === 'rate'}" (click)="sortBy('rate')">
            {{sortLable['rate'][curLang]}}</div>
    </div>
</div> -->