<header class="header header--line header--mobile-img">
    <div class="st-width-full">
        <div class="header-top" [ngClass]="{open: !closeMenu}">
            <div class="header-top__logo">
                <a [routerLink]="'/'"><img src="/assets/img/icons/logo.svg" alt="hashve"></a>
            </div>

            <div class="header-top__user">
                <app-search-button></app-search-button>
                <app-improve-price></app-improve-price>
                <app-card></app-card>
                <a ClickStopPropagation (click)="onMenuClicked()" class="header-icon header-icon--hamburger header-icon--last d-none d-xs-block d-sm-block"></a>
                <!-- <div class="header-user"><a href="#" class="header-user__icon"></a></div> -->
            </div>

            <div class="mobile-menu">
                <div class="mobile-menu__head">
                    <div class="mobile-menu__user">
                        <!--<a (click)="onRegistrationFormOpen('auth')" class="mobile-menu__avatar"></a>

            <span class="mobile-menu__sign-in">
              <a (click)="onRegistrationFormOpen('auth')">{{ "header.login" | translate}} </a>/
              <a (click)="onRegistrationFormOpen('reg')">{{ "header.registration" | translate }}</a>
            </span>-->

                    </div>
                </div>


                <div class="header-delivery">
                    <app-delivery-panel></app-delivery-panel>
                </div>


                <nav class="top-menu d-none d-md-flex" id="top-menu">
                    <a [routerLink]="'category'" class="top-menu__title d-none d-md-block">{{ "header.category" | translate }}<span class="top-menu__title-dots"></span></a>

                    <div class="top-menu__swipe">
                        <swiper [config]="config2" [classes]="'js-top-menu'">
                            <div class="swiper-wrapper">
                                <ul class="top-menu__list swiper-slide">
                                    <li class="top-menu__item top-menu__item__arr d-md-none"><a [routerLink]="'/category'" class="top-menu__link current">{{ "header.category" | translate }}</a>
                                    </li>
                                    <li class="top-menu__item" *ngFor="let item of topMenu"><a (click)="categoryMenuNavigate(item)" class="top-menu__link">{{ item.name[curLang] }}</a>
                                    </li>
                                </ul>
                            </div>
                        </swiper>
                    </div>
                </nav>

                <div class="mobile-menu__list">
                    <!--<div class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">
              <span class="mobile-menu__icon mobile-menu__icon&#45;&#45;cart"></span>
              <span class="mobile-menu__title">הזמנות</span>
            </a>
          </div>-->

                    <div class="mobile-menu__item">
                        <a (click)="navigateToImprovePrice()" class="mobile-menu__link">
                            <span class="mobile-menu__icon mobile-menu__icon--price"></span>
                            <span class="mobile-menu__title">{{ "citySearch.item.priceImprove" | translate }}</span>
                        </a>
                    </div>

                    <div class="mobile-menu__item">
                        <a (click)="openWishList()" class="mobile-menu__link">
                            <span class="mobile-menu__icon mobile-menu__icon--wish"></span>
                            <span class="mobile-menu__title">{{ "citySearch.item.liked" | translate }}</span>
                        </a>
                    </div>

                    <!--<div class="mobile-menu__item">
            <a href="#" class="mobile-menu__link">
              <span class="mobile-menu__icon mobile-menu__icon&#45;&#45;profile"></span>
              <span class="mobile-menu__title">הגדרות</span>
            </a>

            <div class="mobile-menu__flag" style="background-image: url(assets/img/flag.png);"></div>
          </div>-->
                </div>

                <div class="mobile-menu__list">
                    <div class="mobile-menu__item">
                        <a (click)="onMenuClicked()" routerLink="/" class="mobile-menu__link">
                            <span class="mobile-menu__icon mobile-menu__icon--home"></span>
                            <span class="mobile-menu__title">{{ "breadcrumbs.homePage" | translate }}</span>
                        </a>
                    </div>

                    <div class="mobile-menu__item">
                        <a (click)="onMenuClicked()" routerLink="/הוספת_חנות_חדשה" class="mobile-menu__link">
                            <span class="mobile-menu__icon mobile-menu__icon--shop"></span>
                            <span class="mobile-menu__title">{{ "addNewStore.addANewStore" | translate }}</span>
                        </a>
                    </div>

                    <div class="mobile-menu__item">
                        <a (click)="onMenuClicked()" routerLink="/תמיכה" class="mobile-menu__link">
                            <span class="mobile-menu__icon mobile-menu__icon--call"></span>
                            <span class="mobile-menu__title">{{ "addNewStore.support" | translate }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom">
            <div class="scroll-menu" [ngClass]="{fixed: menuHidden == 'showed'}" id="scroll-menu" [@storeBarSowed]="menuHidden">

                <app-delivery-panel class="filter-wrap"></app-delivery-panel>



                <div class="filter-wrap d-none d-md-flex">
                    <div class="filter">
                        <a [routerLink]="'/category'" class="filter__btn">{{ "header.menu.category_header_mobile" | translate }} <span class="filter__title-dots"></span></a>


                        <div class="filter__item">
                            <div class="filter__head"><span class="filter__title">{{ "citySearch.filter.filterBy" | translate }}</span>{{sortLable[selectedSorting][curLang]}}
                            </div>
                            <div class="filter__option">
                                <div class="filter__param" [ngClass]="{active: selectedSorting === 'count'}" (click)="sortBy('count')">{{sortLable['count'][curLang]}}</div>
                                <div class="filter__param" (click)="sortBy('price')">{{sortLable['price'][curLang]}}</div>
                                <div class="filter__param" [ngClass]="{active: selectedSorting === 'rate'}" (click)="sortBy('rate')">{{sortLable['rate'][curLang]}}</div>
                            </div>
                        </div>

                    </div>

                    <div class="search-tabs d-none d-md-inline-flex">
                        <a [routerLink]="['/', 'פרחים_' + uglify(city.name[curLang]), uglify(categoryName)]" [queryParams]="{ showMap: true}" class="search-tabs__item">{{ "citySearch.map" | translate }}</a>
                    </div>
                </div>
            </div>

            <div id="position-fixedmenu"></div>

            <div class="header-bottom__content">

                <app-hashve-slider></app-hashve-slider>

                <h1 class="d-none d-md-block" [innerHTML]="header"></h1>
            </div>
        </div>
    </div>
</header>