<app-header
  [showMobileMenu]="false"
  [store]="store"
  [showSlider]="showSlider"
  [slider]="slider"
></app-header>
<main>
  <div class="st-width-full">
    <h1 class="d-md-none">{{ category.name[curLang] }}</h1>
    <app-shop-about
      [store]="store"
      (scrollTo)="scrollTo($event)"
    ></app-shop-about>
    <app-catalog-menu
      [categories]="categories"
      [storelink]="storelink"
    ></app-catalog-menu>
    <!------------------------------- fixed store panel start ------------------------------------------------------------>

    <div
      class="shop-scroll fixed d-none d-md-block"
      id="shop-scroll"
      [@storeBarSowed]="menuHidden"
    >
      <div class="shop-scroll__header">
        <div class="shop-header__info">
          <div class="shop-header__name">{{ store.name[curLang] }}</div>
          <div class="shop-header__address">{{ store.name[curLang] }}</div>
        </div>

        <div class="header-top__user">
          <app-card></app-card>
          <app-search-button></app-search-button>
          <!-- <a href="#" class="header-icon header-icon--price d-xs-none"><span class="header-icon__count">2</span></a> -->
          <!--<div class="header-user"><a href="#" class="header-user__icon"></a></div>-->
          <a
            ClickStopPropagation
            (click)="onMenuClicked()"
            class="header-icon header-icon--hamburger header-icon--last d-none d-xs-block d-sm-block"
          ></a>
        </div>
      </div>
      <swiper
        [ngClass]="'catalog-menu-wrap js-catalog-menu swiper-container'"
        [config]="configMenu"
      >
        <a
          [routerLink]="
            '/' + store.ind + '-' + store.name[curLang] | spaceToUnderscore
          "
          [ngClass]="isShopPage ? 'active' : ''"
          class="catalog-menu__main d-none d-xs-block"
        ></a>
        <div class="swiper-wrapper">
          <ul class="catalog-menu swiper-slide">
            <li
              class="catalog-menu__item d-xs-none"
              [ngClass]="isShopPage ? 'catalog-menu__item--main active' : ''"
            >
              <a
                [routerLink]="
                  '/' + store.ind + '-' + store.name[curLang]
                    | spaceToUnderscore
                "
                >{{ "catalogMenu.homeLink" | translate }}</a
              >
            </li>
            <li
              class="catalog-menu__item"
              *ngFor="let category of categories"
              [ngClass]="category.active ? 'active' : ''"
            >
              <a
                [routerLink]="
                  '/' +
                    store.ind +
                    '-' +
                    store.name[curLang] +
                    '/' +
                    category.link | spaceToUnderscore
                "
                >{{ category.name[curLang] }}</a
              >
            </li>
          </ul>
        </div>
      </swiper>
    </div>

    <!-- <a href="#" [@callButtonSowed]="menuHidden" class="btn-call-scroll fixed d-none d-md-inline-block" id="btn-call-scroll"></a> -->

    <div id="position-fixedshop"></div>

    <!------------------------------- fixed store panel end ------------------------------------------------------------>
    <app-catalog-list
      [categoryName]="category.name[curLang]"
      [store]="store"
      [items]="items | FilterAdditionalItems"
    ></app-catalog-list>

    <app-popular-cities></app-popular-cities>
    <app-analytics-item></app-analytics-item>
  </div>
</main>
<app-footer></app-footer>
