.product-card__desc p {
    color: #008080;
}

.best-price__old-price {
    color: red;
}

.product__withoutDelivery {
    font-size: 16px;
}

.product-card__count-item{
    color: red;
    font-size: 18px;
}
