html,
body{
	background: #eeeeee;
	font-family: $font-assistant;
	@include font(normal, normal, 13px, 18px, $color-text);
	box-sizing:border-box;
	margin: 0;
	min-width: 320px;
}

body.no-scroll{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img{
	max-width: 100%;
}

a{
	color: $color-green;
}

a:hover,
a:active,
a:focus{
	text-decoration: none;
}

p{
	font-family: $font-assistant;
	@include font(normal, normal, 13px, 18px, $color-text);
	padding: 0;
	margin: 0;
}

h1,
.h1{
	font-family: $font-assistant;
	@include font(normal, bold, 24px, 32px, $color-text);
	margin-bottom: 15px;
	margin-top: 0;
}

h2,
.h2{
	font-family: $font-assistant;
	@include font(normal, bold, 20px, 24px, $color-text);
	margin-bottom: 15px;
}

h3,
.h3{
	font-family: $font-assistant;
	@include font(normal, bold, 15px, 18px, $color-text);
	margin-bottom: 0;
}

h4,
.h4{
	font-family: $font-assistant;
	@include font(normal, normal, 15px, 18px, $color-text);
	margin-bottom: 10px;
}

h5,
.h5{
	font-family: $font-assistant;
	@include font(normal, bold, 12px, 14px, $color-text);
	margin-bottom: 0;
}

h6,
.h6{
	font-family: $font-assistant;
	@include font(normal, normal, 12px, 14px, $color-text);
	margin-bottom: 0;
}

.h1-note{
	@include font(italic, bold, 25px, 25px, $color-grey-main);
}

p + h3,
p + .h3{
	margin-top: 17px;
}


.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	position: relative;

	&--img{
		background: url(#{$path-img}/bg_flower.webp) no-repeat center top;
	}

	&--white{
		background: #fff;
	}

	&::before{
		content: '';
		display: block;
		width: 100%;
		height: 500px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
		background: rgba(255,255,255,0.5);
		background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.5)), color-stop(0%, rgba(255,255,255,0.5)), color-stop(100%, rgba(255,255,255,0)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
	}
}

.st-width-full{
	width: 1502px;
	margin: 0 auto;
	padding-left: 30px;
	padding-right: 30px;
}

.st-width{
	width: 1080px;
	margin: 0 auto;
}

header,
main,
footer{
	position: relative;
}

main{
	flex: 1;
	padding-top: 22px;
	padding-bottom: 57px;
}

.btn,
input[type="submit"].btn{
	display: inline-block;
	height: 32px;
	background: $color-green;
	border: 1px solid $color-green;
	outline: 0;
	font-family: $font-assistant;
	@include font(normal, bold, 15px, 30px, #fff);
	padding: 0 22px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	white-space: nowrap;
}

.btn:hover,
input[type="submit"].btn:hover{
	background: $color-green-dark;
}

.btn--border,
input[type="submit"].btn--border{
	background: transparent;
	border-color: #7a7a78;
	font-weight: 600;
	color: $color-text;
	padding: 0 20px;
}

.btn--border:hover,
input[type="submit"].btn--border:hover{
	background: $color-text;
	border-color: $color-text;
	color: #fff;
}

.btn--border-green,
input[type="submit"].btn--border-green{
	background: transparent;
	border-color: $color-green;
	font-weight: 600;
	color: $color-green;
	padding: 0 20px;
}

.btn--border-green:hover,
input[type="submit"].btn--border-green:hover{
	background: $color-green;
	border-color: $color-green;
	color: #fff;
}

.btn--white,
input[type="submit"].btn--white{
	background: transparent;
	border-color: #fff;
	font-weight: 600;
	color: #fff;
	padding: 0 20px;
}

.btn--white:hover,
input[type="submit"].btn--white:hover{
	background: #fff;
	color: $color-text;
}

.btn--white-fill,
input[type="submit"].btn--white-fill{
	background: #fff;
	border-color: #fff;
	color: #666666;
}

.btn--white-fill:hover,
input[type="submit"].btn--white-fill:hover{
	background: #666666;
	border-color: #666666;
	color: #fff;
}


.btn--black,
input[type="submit"].btn--black{
	background: #000;
	border-color: #000;
	color: #fff;
}

.btn--black:hover,
input[type="submit"].btn--black:hover{
	background: #fff;
	color: #000;
}

.btn--blue,
input[type="submit"].btn--blue{
	background: #56bcf0;
	border-color: #56bcf0;
	color: #fff;
}

.btn--blue:hover,
input[type="submit"].btn--blue:hover{
	background: #2fa2dd;
	color: #fff;
}

.btn--pink,
input[type="submit"].btn--pink{
	background: #ff6c6c;
	border-color: #ff6c6c;
	color: #fff;
}

.btn--pink:hover,
input[type="submit"].btn--pink:hover{
	background: #fe5959;
	color: #fff;
}

.btn--grey,
input[type="submit"].btn--grey{
	background: #9b9b9b;
	border-color: #9b9b9b;
	color: #fff;
}

.btn--grey:hover,
input[type="submit"].btn--grey:hover{
	background: #636363;
	color: #fff;
}

.btn--orange,
input[type="submit"].btn--orange{
	background: $color-dark-orange;
	border-color: $color-dark-orange;
	color: #fff;
}

.btn--orange:hover,
input[type="submit"].btn--orange:hover{
	background: $color-orange;
	border-color: $color-orange;
	color: #fff;
}

.btn--middle,
input[type="submit"].btn--middle{
	height: 35px;
	font-size: 25px;
	line-height: 32px;
	font-weight: 600;
	padding: 0 50px;
	padding-bottom: 5px;
}

.btn--big,
input[type="submit"].btn--big{
	height: 60px;
	font-size: 32px;
	line-height: 50px;
	font-weight: bold;
	padding: 0 50px;
}

.btn--purple,
input[type="submit"].btn--purple{
	border-color: $color-purple;
	background: $color-purple;
}

.btn--purple:hover,
input[type="submit"].btn--purple:hover{
	border-color: #7e1685;
	background: #7e1685;
}

.btn--block,
input[type="submit"].btn--block{
	display: block;
}

.btn--inactive,
input[type="submit"].btn--inactive,
.btn--inactive:hover,
input[type="submit"].btn--inactive:hover{
	color: rgba(255,255,255,0.35);
	cursor: default;
}

.btn--disabled,
button.btn--disabled,
input[type="submit"].btn--disabled,
input[type="submit"][disabled=disabled].btn,
button[disabled="disabled"],
button[disabled="disabled"].btn,
.btn--disabled:hover,
button.btn--disabled:hover,
input[type="submit"].btn--disabled:hover,
input[type="submit"][disabled=disabled].btn:hover,
button[disabled="disabled"]:hover,
button[disabled="disabled"].btn:hover{
	background: #636363;
	color: #fff;
	border: 0;
	cursor: auto;
}

.btn-buy-wrap{
	display:flex;
	justify-content: space-between;
	overflow:hidden;

	.btn{
		min-width: 137px;
		height: 45px;
		border-radius: 2px;
		text-align:center;
		@include font(normal,bold,23px,45px,#fff);
	}

	.btn-buy{
		margin-right:1px;
	}
}

.btn-buy{
	display: inline-block;
	width: 53px;
	height: 45px;
	background: #f25500 url('../img/basket-add.png') 50% 50% no-repeat;
	border-radius: 2px;
	text-align:center;
	text-decoration: none;
}

.btn-buy:hover{
	background-color: #dd5003;
}


.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.h-text-left{text-align: left !important;}
.h-text-center{text-align: center !important;}
.h-text-right{text-align: right !important;}
.h-text-justify{text-align: justify !important;}
.h-text-uppercase{text-transform: uppercase !important;}
.h-text-bold {font-weight: 700 !important;}
.h-text-grey {color: $color-grey-main!important;}
.h-text-orange {color: $color-orange!important;}

.d-none{display: none!important;}
.d-block{display: block!important;}

.d-xl-block{display: block!important;}
.d-xl-inline-block{display: inline-block!important;}
.d-xl-flex{display: flex!important;}
.d-xl-inline-flex{display: inline-flex!important;}
.d-xl-inline{display: inline!important;}

.line-purple{
	height: 3px;
	border: 0;
	background: #ff00fd;
	margin: 20px 0;
}

.input-check{
	font-family: $font-assistant;

	&__label{
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		position: relative;
		@include font(normal, 600, 15px, 17px, #494949);
	}

	input[type=checkbox] {
		display: none;
	}

	&__mark{
		display: inline-block;
		vertical-align: middle;
		width: 17px;
		height: 17px;
		border: 1px solid #4b4b4b;
		background: #fff;
		position: relative;
	}

	input[type=checkbox]:checked + &__label &__mark:after{
		content: "";
		display: inline-block;
		width: 13px;
		height: 13px;
		background: url(#{$path-icon}/ic-check.svg) no-repeat center;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 1px;
	}

	&--green input[type=checkbox]:checked + &__label &__mark{
		background: #4dc314;
	}

	&--lightgreen input[type=checkbox] + &__label &__mark{
		width: 21px;
		height: 21px;
		border: 1px solid rgba(0,0,0,0.5);
	}

	&--lightgreen input[type=checkbox]:checked + &__label &__mark:after{
		background-image: url(#{$path-icon}/ic-check-green.svg);
		top: 3px;
	}

	&--blue input[type=checkbox]:checked + &__label &__mark{
		background: #039be5;
		border: 0;
	}

	&--blue input[type=checkbox]:checked + &__label &__mark:after{
		background-image: url(#{$path-icon}/ic-check-white.svg);
	}

	&__text{
		vertical-align: middle;
		margin-left: 10px;
	}
}

.input-radio{
	font-family: $font-assistant;

	&__label{
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		position: relative;
		@include font(normal, 600, 15px, 22px, #494949);
		margin-left: 10px;
	}

	input[type=radio] {
		display: none;
	}

	&__mark{
		display: inline-block;
		vertical-align: middle;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		border: 1px solid #4b4b4b;
		background: #fff;
		position: relative;
	}

	input[type=radio]:checked + &__label &__mark:after{
		content: "";
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #4b4b4b;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
		@include top-center;
	}

	&__text{
		margin-left: 2px;
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

@media (max-width: 1530px) {
	.st-width-full{
		width: 1240px;
	}
}

@media (max-width: 1279px) {
	.d-lg-none{display: none!important;}
	.d-lg-block{display: block!important;}
	.d-lg-inline-block{display: inline-block!important;}
	.d-lg-flex{display: flex!important;}
	.d-lg-inline-flex{display: inline-flex!important;}
	.d-lg-inline{display: inline!important;}

	.st-width-full,
	.st-width{
		width: 960px;
	}

	.st-width{
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-width: 991px) {
	.d-md-none{display: none!important;}
	.d-md-block{display: block!important;}
	.d-md-inline-block{display: inline-block!important;}
	.d-md-flex{display: flex!important;}
	.d-md-inline-flex{display: inline-flex!important;}
	.d-md-inline{display: inline!important;}
  .d-md-flex-column{display: flex!important; flex-direction: column!important;}

	.st-width-full,
	.st-width{
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}

	.btn-buy-wrap .btn{
		min-width: 100px;
	}
}

@media (max-width: 767px) {
	.d-xs-none{display: none!important;}
	.d-xs-block{display: block!important;}
	.d-xs-inline-block{display: inline-block!important;}
	.d-xs-flex{display: flex!important;}
	.d-xs-inline-flex{display: inline-flex!important;}
	.d-xs-inline{display: inline!important;}
	
	.p-xs-fixed{position: fixed!important;}
	
	// .st-width-full,
	// .st-width{
	// 	width: 100%;
	// 	padding-left: 10px;
	// 	padding-right: 10px;
	// }

	.btn--big{
		height: 32px;
		font-size: 17px;
		line-height: 30px;
		padding: 0 30px;
	}

	h1,
	.h1{
		font-size: 22px;
		line-height: 24px;
	}
}

@media (max-width: 479px) {
	.d-sm-none{display: none!important;}
	.d-sm-block{display: block!important;}
	.d-sm-inline-block{display: inline-block!important;}
	.d-sm-flex{display: flex!important;}
	.d-sm-inline-flex{display: inline-flex!important;}
	.d-sm-inline{display: inline!important;}
}
