<section class="analytics analytics-col-2">
  <div class="analytics__switch d-none d-md-flex">
    <a (click)="changeTab()" class="analytics__switch-item"
       [ngClass]="{active: tabActive}">{{ "blocks.categoryFooter" | translate }}</a>
    <a (click)="changeTab()" class="analytics__switch-item"
       [ngClass]="{active: !tabActive}">{{ "blocks.commonOverview" | translate }}</a>
  </div>

  <div class="analytics__item" [ngClass]="{active: tabActive}">
    <div class="analytics__head d-md-none">
      <div class="h2">{{ "blocks.categoryFooter" | translate }}</div>
    </div>

    <div class="analytics-cat">
      <div class="gifts__item" *ngFor="let category of footerCategories; let i = index">
        <app-category [category]="category"></app-category>
      </div>
    </div>
  </div>

  <div class="analytics__item" [ngClass]="{active: !tabActive}">
    <div class="analytics__head d-md-none">
      <div class="h2">{{ "blocks.commonOverview" | translate }}</div>
    </div>

    <div class="analytics-city">
      <div class="analytics-city__item" *ngFor="let city of reviewCity">
        <div class="analytics-city__name"><a [routerLink]="['/', city.link]">{{city.name[curLang]}}</a></div>
        <div
          class="analytics-city__num">{{ "homepage.popularCities.stores" | translate:{stores: city.storeCount} }}</div>
      </div>
    </div>
  </div>
</section>
