.good-day-slider__old-price {
    color: red;
}

.delivery__text {
    font-size: 12px;
}

.good-day-slider__item-name div {
    font-size: 18px;
    font-weight: bold;
}

.good-day-slider__item-name {
    margin-bottom: 5px;
}

.delivery__text {
    font-size: 12px;
}

.catalog-list__num {
    margin-left: 15px;
}

.store-slider__img {
    display: block;
    width: 100%;
    height: 130px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 0;
}

.good-day-slider__price{
    margin-top: 0;
}

.good-day-slider__old-price{
    font-size: 15px;
}

.good-day-slider__cur-price{
    font-size: 18px;
}